{% extends "email/base_notification.html" %}
{% load i18n %}

{% block title %}{{subject}}{% endblock %}

{% block link_color %}
    a { color:{{primary_color}}; text-decoration:underline }
{% endblock %}

{% block body %}
    {% for notification in notifications  %}
        <hr style="border:none;border-bottom:1px solid #ececec;margin:1.5rem 0;width:100%">
        {% if notification.type_to_string == 'blog' %}
            {% include "email/notifications/blog.html" %}
        {% endif %}
        {% if notification.type_to_string == 'discussion' %}
            {% include "email/notifications/discussion.html" %}
        {% endif %}
        {% if notification.type_to_string == 'event' %}
            {% include "email/notifications/event.html" %}
        {% endif %}
        {% if notification.type_to_string == 'question' %}
            {% include "email/notifications/question.html" %}
        {% endif %}
        {% if notification.type_to_string == 'wiki' %}
            {% include "email/notifications/wiki.html" %}
        {% endif %}
        {% if notification.type_to_string == 'thewire' %}
            {% include "email/notifications/update.html" %}
        {% endif %}
    {% endfor %}

{% endblock %}


{% block footer_settings %}
    {% blocktrans %} You have received this e-mail because you registered to receive notifications.<br /> Click <a href="{{user_url}}">here</a> to change your settings.{% endblocktrans %}
{% endblock %}