{% extends "email/base_notification.html" %}
{% load i18n %}

{% block body %}
    <div>{{message|safe}}</div> <br><br>--<br>
    {% blocktrans %}This message is sent from <a href="{{site_url}}">{{site_url}}</a> by <a href="{{user_url}}">{{user_name}}</a>{% endblocktrans %}
{% endblock %}

