{% extends "base_closed.html" %}

{% load i18n %}

{% block content %}
<div class="walled-garden_titles">
	<h1 class="walled-garden_title">{{ config.NAME }}</h1>
	<h2 class="walled-garden_subtitle">{{ config.DESCIPTION }}</h2>
</div>
<div class="content">
	<p>{% blocktrans %}This site is closed. Log in to get access.{% endblocktrans %}</p>
</div>
<div class="elgg-module  elgg-module-walledgarden-login">
	<div class="elgg-body">
		<form class="elgg-form elgg-form-pleio-template-pleio-login">
			<fieldset>
				<div class="walled-garden_buttons">
					<a href="{% url 'oidc_authentication_init' %}?next={{ next }}" class="button ___medium" rel="nofollow">{% blocktrans %}Login using Pleio account{% endblocktrans %}</a> 
				</div>
				<div class="walled-garden_register content">
					{% blocktrans %}Don't have an account?{% endblocktrans %} <a href="/login?login_credentials=true&amp;method=register" class="" rel="nofollow">{% blocktrans %}Register{% endblocktrans %}</a>
				</div>
			</fieldset>
		</form>
	</div>
</div>
{% endblock %}